[Desktop Entry]
Type=Application
Name=Garry's Mod Workshop Tool
Comment=Manage Garry's Mod workshop addons
Exec=gmod-wstool
Icon=gmod-wstool
Terminal=true
Categories=Utility;Game;
Keywords=gmod;workshop;wstool;addons;
